<div class="container text-white mx-auto p-4 md:p-8">
  <h2 class="text-3xl font-bold mb-8">Listado de productos</h2>

  <!-- FILTROS -->
  <div class="row mb-4">
    <div class="col-md-4 mb-2">
      <label class="form-label fw-bold">Categoría</label>
      <select [(ngModel)]="categoriaSeleccionada" (change)="actualizarFiltros()" class="form-select">
        <option value="">Todas</option>
        <option *ngFor="let c of categorias" [value]="c">{{ c }}</option>
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <label class="form-label fw-bold">Precio máximo</label>
      <input type="number" [(ngModel)]="precioMax" (input)="actualizarFiltros()" class="form-control" />
    </div>

    <div class="col-md-4 mb-2">
      <label class="form-label fw-bold">Buscar por nombre</label>
      <input type="text" [(ngModel)]="search" (input)="actualizarFiltros()" class="form-control" placeholder="Buscar..." />
    </div>
    @if (authService.esAdmin()){
    <div class="col-md-4 mb-2 flex items-end">
      <a [routerLink]="['/nuevo-producto']"
        class="w-full bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 transition-colors text-center">
        Agregar nuevo producto
      </a>
    </div>
    }
  </div>


  <!-- Si hay productos -->
  <div *ngIf="productos.length > 0; else sinProductos" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    @for (p of productos; track p.id) {
    <div (click)="verDetalle(p.id)"
      class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col transition-transform duration-300 hover:shadow-xl hover:-translate-y-1 cursor-pointer">

      <img src="https://placehold.co/600x400/eeeeee/999999?text={{ p.nombre }}" [alt]="'Imagen de ' + p.nombre"
        class="w-full h-48 object-cover">


      <div class="p-6 flex flex-col flex-grow">
        <h2 class="text-2xl font-bold text-gray-900 mb-2">{{ p.nombre }}</h2>
        <p class="text-gray-700 mb-4 flex-grow">{{ p.descripcion }}</p>

        <p class="text-gray-500 text-sm mb-3">
          <strong>Categoría:</strong> {{ p.clasificacion }}
        </p>

        <p class="text-3xl font-extrabold text-green-600 mb-6">
          $ {{ p.precio | number : '1.0-0' }}
        </p>

        <div class="flex justify-between gap-4 mt-auto">
          @if (authService.esAdmin()) {
          <a [routerLink]="['/editar-producto', p.id]" (click)="$event.stopPropagation()"
            class="text-center w-1/2 bg-yellow-500 text-gray-900 font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-yellow-600 transition-colors">
            Editar
          </a>
          <button (click)="$event.stopPropagation(); eliminar(p.id)"
            class="w-1/2 bg-red-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-red-700 transition-colors">
            Eliminar
          </button>
          }

          @if (authService.esCliente()) {
          <button (click)="$event.stopPropagation(); agregarAlCarrito(p)"
            class="w-full text-center bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-green-700 transition-colors">
            Agregar al carrito
          </button>
          }
        </div>
      </div>
    </div>
    }
  </div>

  <ng-template #sinProductos>
    <div class="p-4 bg-yellow-100 text-yellow-800 rounded">
      No hay productos con esos filtros.
    </div>
  </ng-template>
</div>
