<div class="container mt-4">
  <h2 class="mb-4">Listado de productos</h2>

  <!-- 🧠 FILTROS -->
  <div class="row mb-4">
    <div class="col-md-4">
      <label for="categoria" class="form-label fw-bold">Filtrar por categoría</label>
      <select id="categoria" class="form-select" [(ngModel)]="categoriaSeleccionada" (change)="aplicarFiltros()">
        <option value="">Todas</option>
        <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="precioMax" class="form-label fw-bold">Hasta qué precio ($)</label>
      <input
        id="precioMax"
        type="number"
        class="form-control"
        [(ngModel)]="precioMax"
        (input)="aplicarFiltros()"
        placeholder="Ej: 5000"
      />
    </div>
  </div>
  <!-- Si hay productos -->
  <div *ngIf="productos.length > 0; else sinProductos" class="row">
    <div *ngFor="let p of productos" class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ p.nombre }}</h5>
          <p class="card-text text-muted">{{ p.descripcion }}</p>
          <p><strong>Categoría:</strong> {{ p.clasificacion }}</p>
          <p class="fw-bold text-success">$ {{ p.precio | number:'1.0-0' }}</p>

          <div class="d-flex justify-content-between">
            <a [routerLink]="['/producto', p.id]" class="btn btn-primary btn-sm">Ver detalle</a>

               <button *ngIf="authService.esAdmin()" class="btn btn-danger btn-sm" (click)="eliminar(p.id)">
              Eliminar
            </button>

             <button *ngIf="authService.esCliente()" class="btn btn-success btn-sm" (click)="agregarAlCarrito(p)">
              Agregar al carrito
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Si no hay productos -->
  <ng-template #sinProductos>
    <div class="alert alert-warning">No hay productos disponibles.</div>
  </ng-template>
</div>
